/*  Titles */
.centered{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 5px;
  background: linear-gradient(45deg, #023E8A, #0096C7);
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 20px;
  color: seashell;
}
.title {
  display: block;
  font-size: 2em;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}