/*Comments*/
.centered{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 5px;
  background: radial-gradient(circle, #001E2B, #023430);
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 20px;
  color: white;
}
.top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}
.bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}
.user{
  margin: 5px;
  margin-left: 15px;
  font-size: 1.25em;
}
.time{
  margin: 5px;
  font-size: .9em;
}
.text{
  margin: 5px;
  font-size: 1.05em;
}