/* Protfolio */
.project{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 5px;
  background: linear-gradient(115deg, #023E8A, #0096C7);
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 20px;
  color: seashell;
}
.project_img{
  border: 2px solid black;
  border-radius: 5%;
  max-height: 500px;
  flex-basis: 50px;
  flex-grow: 1;
  margin: 20px;
}
.project_details{
  padding: 20px;
  padding-top: 40px;
  margin-bottom: 10px;
  align-self: baseline;
}
.project_title{
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}
.project_link{
  text-decoration: underline;
  font-weight: bold;
}