
/*  Titles */
.centered{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 5px;
  background: #001E2B;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 20px;
  border: 1px solid white;
  color: white;
}
.title {
  display: block;
  font-size: 2em;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.sub_title{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.sub_sub_title{
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
/* Resume */
.resume{
  display: flex;
  flex-direction: column;
  font-size: 1em;
  justify-content: center;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}
.resume section{
  margin: 10px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 15px;
}
.resume li{
  margin: 20px;
}